<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <title th:text="'Редактирование заказа ' + ${order.getId()}" th:if="${order != null}"></title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css">
</head>
<body>
<script language="javascript" type="text/javascript">
  function limitText(limitField, limitNum) {
    if (limitField.value.length > limitNum) {
      limitField.value = limitField.value.substring(0, limitNum);
    }
  }
</script>
<header>
  <div th:insert="~{header :: header}"></div>
</header>
<div class="container">
  <div class="text-center">
    <h1 th:text="'Редактирование заказа №' + ${order.getId()}" th:if="${order != null}"></h1>
  </div>

  <hr class="my-4">

  <form method="post" th:action="@{/order/addNew/{orderId}(orderId=${order.getId()})}" enctype="multipart/form-data">
    <div class="row">
      <div class="col-lg-8">
        <h4 th:if="${order != null}">Если счет, макет или бланк не требуется обновлять, то оставьте их поля файлов пустыми</h4>
        <table class="table caption-top table-bordered table-hover table-striped">
          <tbody>
          <input id="orderId" name="orderId" th:value="${order.getId()}" type="hidden" th:if="${order != null}">
          <tr>
            <th>Счет на оплату</th>
            <td><input id="score" name="score" type="file" placeholder="Счет на оплату" class="form-control-file"></td>
          </tr>
          <tr>
            <th>Статус платежа</th>
            <td>
              <input name="paymentStatus" th:value="${order.getPaymentStatus()}" required type="text"
                     class="form-control" placeholder="Статус платежа" th:if="${order != null}"
                     onKeyDown="limitText(this,100);" onKeyUp="limitText(this,100);">
            </td>
          </tr>
          <tr>
            <th>Комментарий к заказу</th>
            <td>
              <textarea name="comment" cols="40" rows="5" th:text="${order.getComment()}" type="text" class="form-control" placeholder="Комментарий" th:if="${order != null}"></textarea>
            </td>
          </tr>
          <tr>
            <th>Макет</th>
            <td><input id="meketList" name="meketList" type="file" placeholder="Макет(-ы)" class="form-control-file" multiple></td>
          </tr>
          <tr>
            <th>Бланк заказа</th>
            <td><input id="blankOrder" name="blankOrder" type="file" placeholder="Макет(-ы)" class="form-control-file"></td>
          </tr>
          <tr>
            <th>Станок</th>
            <td><select id="machine" name="machine">
                <option th:each="machineType, machineStat : ${machineTypes}"
                        th:value="${machineStat.index}" th:text="${machineType}"
                        th:selected="${machineType == order.getMachine()}">
              </option>
            </select></td>
          </tr>
          <tr>
            <th>Дата выдачи заказа</th>
            <td>
              <input name="finishOrderDate" th:value="${order.getDateEnd()}" required type="date" th:if="${order != null}">
            </td>
          </tr>
          <!-- Поле для заказчика с выпадающим списком -->
          <tr>
            <th>Заказчик</th>
            <td>
              <input id="clientName" th:value="${clientName}" title="Вносить изменения в это поле запрещено" name="clientName" class="form-control" readonly>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-auto">
        <button type="submit" class="btn btn-primary" style="margin-bottom: 3px">Сохранить</button>
      </div>
    </div>
  </form>
</div>
</body>
</html>
